// about

.about {
  background: #05386b;
  display: flex;
  justify-content: center;
  position: relative;
}

.about__intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 700px;

  h1 {
    color: #5cdb95;
    font-size: 6rem;
    align-self: flex-start;
  }

  p {
    display: block;
    color: #edf5e1;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  span {
    color: #5cdb95;
  }

  .about__contacts {
    display: flex;
    a {
      color: #5cdb95;
      padding: 15px 70px;
      margin: 35px 20px 0 20px;
      border: 2px solid #5cdb95;
      border-radius: 10px;
      background: linear-gradient(to left, #05386b 50%, #5cdb95 50%);
      background-size: 200% 100%;
      background-position: right top;
      transition: ease all 0.5s;
      &:hover {
        background-position: left top;
        color: #05386b;
      }
    }
  }
}

.about__skills {
  border-radius: 5px;
  align-self: center;
  margin-top: 50px;
  margin-left: 180px;
  display: flex;
  flex-flow: column;
}

.about__developer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-radius: 10px;

  img {
    height: 100%;
  }
}

.about__designer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  border-radius: 10px;
  margin-bottom: 50px;

  img {
    height: 100%;
  }
}

.about-skills {
  background: #edf5e1;
  width: 100%;

  img {
    width: 100%;
    display: block;
    margin: -5px 0;
  }
}

.about-project {
  background: #edf5e1;
  width: 100%;

  img {
    width: 100%;
    display: block;
    margin: -5px 0;
  }
}

@media screen and (max-width: 1700px) {
  .about__intro {
    width: 600px;
  }
  .about__designer,
  .about__developer {
    height: 200px;
  }
}

@media screen and (max-width: 1220px) {
  .about {
    flex-flow: column;
    align-items: center;
  }
  .about__intro {
    width: 800px;
    text-align: center;

    h1 {
      align-self: center;
    }
  }
  .about__skills {
    flex-flow: row;
    margin-left: 0;
  }
  .about__designer {
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .about__developer {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .about__intro {
    width: 500px;
    text-align: start;

    h1 {
      align-self: flex-start;
    }
  }
  .about__designer,
  .about__developer {
    height: 170px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 30px 0;
  }
  .about__intro {
    width: 350px;
    text-align: center;

    h1 {
      align-self: center;
      font-size: 5rem;
    }
    p {
      font-size: 1.3rem;
    }
    .about__contacts {
      flex-flow: column;
      a {
        margin: 25px 0 0 0;
      }
    }
  }
  .about__designer {
    height: 140px;
  }
  .about__developer {
    height: 140px;
  }
}

@media screen and (max-width: 500px) {
  .about__intro {
    width: 300px;
    text-align: center;

    h1 {
      align-self: center;
      font-size: 4.2rem;
      margin: 15px;
    }
    p {
      font-size: 1.1rem;
    }
    .about__contacts {
      flex-flow: column;
      a {
        margin: 20px 0 0 0;
        padding: 10px 70px;
        font-size: 15px;
      }
    }
  }
  .about__designer {
    height: 115px;
  }
  .about__developer {
    height: 115px;
  }
}
