// about

.about {
  background: #05386b;
  display: flex;
  padding: 0 200px;
  position: relative;
}

.about__intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 200px;
  text-align: center;

  h1 {
    color: #5cdb95;
    font-size: 7rem;
  }

  p {
    color: #edf5e1;
    font-size: 1.9rem;
  }

  span {
    color: #5cdb95;
  }

  .about__contacts {
    display: flex;
    a {
      color: #5cdb95;
      padding: 15px 70px;
      margin: 35px 20px 0 20px;
      border: 2px solid #5cdb95;
      border-radius: 10px;
      background: linear-gradient(to left, #05386b 50%, #5cdb95 50%);
      background-size: 200% 100%;
      background-position: right top;
      transition: ease all 0.5s;
      &:hover {
        background-position: left top;
        color: #05386b;
      }
    }
  }
}

.about__skills {
  border-radius: 5px;
  align-self: center;
  width: 1000px;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  margin-right: 100px;
}

.about__developer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
  padding-right: 20px;

  img {
    height: 250px;
    width: 380px;
  }
}

.about__designer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 50px;

  img {
    height: 250px;
  }
}

.about-skills {
  background: #edf5e1;
  width: 100%;

  img {
    width: 100%;
    display: block;
  }
}

.about-project {
  background: #edf5e1;
  width: 100%;

  img {
    width: 100%;
    display: block;
  }
}
