// footer

.footer {
  background: linear-gradient(0deg, #05386b 75%, #edf5e1 25%);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer__pixme {
  border-radius: 50%;
  height: 200px;
}

.footer__foot {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 50px 0;
}

.footer__mail {
  display: flex;
  flex-flow: column;
  align-items: center;
  h1 {
    color: #5cdb95;
    font-size: 4rem;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;

  .footer__link {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #edf5e1;
    padding: 15px 60px 10px 60px;
    margin: 35px 20px 0 20px;
    border: 2px solid #edf5e1;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to left, #05386b 50%, #5cdb95 50%);
    background-size: 200% 100%;
    background-position: right top;
    transition: ease all 0.3s;

    &:hover {
      background-position: left top;
      border: 2px solid #5cdb95;
      color: #05386b;
    }
  }

  span {
    transform: translateX(0px);
    font-size: 30px;
    transition: all ease 0.5s;
  }

  img {
    transform: translateX(0px);
    display: block;
    height: 35px;
    margin: 0 20px 0 0;
    transition: all ease 0.5s;
  }
  .footer__link-p {
    transform: translateX(0px);
    opacity: 0;
    transition: all ease 0.5s;
  }
}

.footer__link-info {
  display: flex;
}

.footer__link:hover .footer__link-p {
  transform: translateX(-30px);
  opacity: 1;
}

.footer__link:hover span {
  transform: translateX(-30px);
}

.footer__link:hover img {
  transform: translateX(-30px);
}

.footer__pinky {
  padding: 15px 0;
  background: #edf5e1;
  color: #05386b;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .footer__link-p {
    display: none;
  }
  .footer__links {
    .footer__link {
      padding: 15px 70px;
    }
    span {
      font-size: 23px;
    }
    img {
      height: 25px;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    background: linear-gradient(0deg, #05386b 80%, #edf5e1 20%);
  }
  .footer__links {
    flex-flow: column;
    .footer__link {
      margin: 30px 20px 0 20px;
      padding: 15px 0;
      width: 500px;
    }
    span {
      font-size: 23px;
    }
    img {
      height: 25px;
    }
  }
}
@media screen and (max-width: 600px) {
  .footer__mail {
    h1 {
      font-size: 3.3rem;
      margin-top: 10px;
    }
  }
  .footer__links {
    .footer__link {
      padding: 15px 0;
      width: 300px;
    }
    span {
      font-size: 23px;
    }
    img {
      height: 25px;
    }
  }
}
.footer__pinky {
  padding: 5px 0;
  font-size: 1rem;
  background-color: #154372;
  color: #edf5e1;
}

@media screen and (max-width: 600px) {
  .footer__mail {
    h1 {
      font-size: 2.7rem;
      margin-top: 10px;
    }
  }
  .footer__links {
    .footer__link {
      padding: 15px 0;
      width: 250px;
    }
    span {
      font-size: 20px;
    }
    img {
      height: 22px;
    }
  }
  .footer__pinky {
    font-size: 0.8rem;
  }
}
