// home

.home {
  background: linear-gradient(55deg, #05386b 70%, #5cdb95 30.3%);
  height: 95vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home__parallax {
  width: 97%;
  height: 100%;
  position: absolute;
  bottom: 80px;
  top: 4vh;
  pointer-events: none;
  transition: all ease 0.1s;
}

.home__intro {
  color: #edf5e1;
  width: 800px;
  transition: all ease 0.1s;

  .home__hello {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;

    h3 {
      font-size: 2rem;
    }

    h6 {
      margin-left: 10px;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #5cdb95;
    position: relative;
    display: inline-block;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 0;
      background: #cff881a4;
      right: 0;
      transition: ease 0.3s;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      background: #cbf38144;
    }
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  span {
    font-size: 1.5rem;
  }
}

.home__image {
  margin: 40px 0 0 250px;
  border-radius: 20px;
  transition: all ease 0.1s;
  border: 1px dashed rgba(26, 26, 26, 0.534);
}

.home__me {
  display: flex;
  position: relative;
  height: 450px;
  border-radius: 20px;
  cursor: pointer;
  transform: translate(-20px, -20px);
  transition: all 1.5s ease;

  &:hover {
    transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 1600px) {
  .home {
    height: 80vh;
  }
  .home__intro {
    width: 600px;
    .home__hello {
      h3 {
        font-size: 1.8rem;
      }
      h6 {
        font-size: 1.8rem;
      }
    }
    h1 {
      font-size: 3.6rem;
    }
    h2 {
      font-size: 2.6rem;
    }
    span {
      font-size: 1.3rem;
    }
  }

  .home__parallax {
    display: none;
  }
  .home__image {
    margin: 40px 0 0 150px;
  }
  .home__me {
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    flex-flow: column;
    background: #05386b;
    min-height: 95vh;
  }
  .home__intro {
    margin: 80px 0 0 0;
  }
  .home__image {
    margin: 70px 0 0 0;
  }
}
