// // media

// @media (min-width: 2300px) {
//   .home__intro {
//     margin-left: 450px;
//   }
//   .home__image {
//     margin: 40px 0 0 400px;
//   }
//   .skills__git-logo {
//     grid-column: 2;
//   }
// }

// @media (min-width: 1668px) and (max-width: 2000px) {
//   .home__image {
//     margin: 40px 0 0 200px;
//   }
// }
// @media (min-width: 2000px) {
//   .home__intro {
//     margin: 0 0 0 200px;
//   }

//   .home {
//     height: 95vh;
//   }
//   .skills__git-logo {
//     grid-column: 2;
//   }
// }

// @media (min-width: 1400px) and (max-width: 1668px) {
//   .home {
//     height: 95vh;
//   }
//   .navbar {
//     margin-right: 100px;
//   }
//   .home__intro {
//     margin: 0 0 0 70px;
//   }
//   .home__image {
//     margin: 40px 40px 0 100px;
//   }
//   .skills__git-logo {
//     grid-column: 2;
//   }
//   .projects__project-cont-1,
//   .projects__project-cont-2 {
//     max-width: 1200px;
//   }
//   .projects__project-1,
//   .projects__project-2 {
//     min-width: 1300px;
//   }
//   .projects__img-1,
//   .projects__img-2,
//   .project__img-res {
//     height: 600px;
//   }
//   .projects__project-desc-1 {
//     max-height: 600px;
//   }
// }

// @media (min-width: 1000px) and (max-width: 1400px) {
//   .navbar__list {
//     .navbar__link {
//       color: #ccf381;
//       &::after {
//         background-color: #ccf381;
//       }
//     }
//     .navbar__link--active {
//       color: #ccf381;
//       border: 1px solid #ccf381;
//       &:hover {
//         color: #4831d4;
//       }
//       &::after {
//         background: #ccf381;
//       }
//     }
//   }
//   .home__parallax {
//     display: none;
//   }
//   .home {
//     flex-flow: column;
//     height: max-content;
//     background: #4831d4;
//   }
//   .home__intro {
//     margin: 200px auto 0 auto;
//   }
//   .home__image {
//     margin: 100px auto;
//   }
//   .skills__git-logo {
//     grid-column: 2;
//   }
//   .projects__project-cont-1,
//   .projects__project-cont-2 {
//     max-width: 1150px;
//   }
//   .projects__project-1,
//   .projects__project-2 {
//     min-width: 1200px;
//   }
//   .projects__img-1,
//   .projects__img-2,
//   .project__img-res {
//     height: 550px;
//   }
//   .projects__project-desc-1 {
//     max-height: 550px;
//   }
// }

// @media (min-width: 1023px) and (max-width: 1250px) {
//   .projects__project-cont-1,
//   .projects__project-cont-2 {
//     max-width: 1020px;
//   }
//   .projects__project-1,
//   .projects__project-2 {
//     min-width: 1050px;
//   }
//   .projects__img-1,
//   .projects__img-2,
//   .project__img-res {
//     height: 500px;
//   }
//   .projects__project-desc-1,
//   .projects__project-desc-2 {
//     max-height: 500px;
//   }
// }

// @media (max-width: 1000px) {
//   body {
//     width: max-content;
//   }
//   .home {
//     height: 150vh;
//   }
//   .home__intro {
//     margin: 0 0 0 70px;
//   }
//   .home__image {
//     margin: 0 0 0 100px;
//   }
//   .home__parallax {
//     display: none;
//   }
//   .skills__git-logo {
//     grid-column: 1;
//   }
// }

// @media (max-width: 600px) {
//   .navbar {
//     height: 30vh;
//   }
//   .navbar__logo {
//     font-size: 5rem;
//   }
//   .navbar__list {
//     .navbar__link {
//       color: #ccf381;
//       display: none;
//     }
//     .navbar__link--active {
//       color: #ccf381;
//       border: 1px solid #ccf381;
//       display: none;
//     }
//     .navbar__burger {
//       display: block;
//     }
//     .navbar__burger--open {
//       display: block;
//     }
//   }
//   .home {
//     height: 320vh;
//     background: #4831d4;
//     flex-flow: column;
//     justify-content: center;
//     align-items: flex-start;
//   }
//   .home__parallax {
//     display: none;
//   }
//   .home__intro {
//     width: 800px;
//     margin-top: 100px;

//     .home__hello {
//       h3 {
//         font-size: 4rem;
//       }
//       h6 {
//         font-size: 4rem;
//       }
//     }
//     h1 {
//       font-size: 7.5rem;
//     }
//     h2 {
//       font-size: 5rem;
//     }
//     span {
//       font-size: 2.5rem;
//     }
//   }
//   .home__image {
//     margin-left: 250px;
//     margin-top: 200px;
//     border-right: 1px dashed #ccf381;
//     border-bottom: 1px dashed #ccf381;

//     .home__me {
//       height: 650px;
//     }
//   }
//   .skills {
//     h1,
//     h2 {
//       font-size: 5rem;
//       width: 90%;
//       margin: 100px auto;
//     }
//   }
//   .skills__technologies {
//     grid-template-columns: repeat(1, 1fr);
//     gap: 4rem;
//     .skills__skill {
//       img {
//         height: 300px;
//       }
//       .skills__jq-logo {
//         height: 200px;
//       }
//     }
//   }
//   .skills__other-technologies {
//     grid-template-columns: repeat(1, 1fr);
//     gap: 0rem;

//     .skills__skill {
//       img {
//         height: 300px;
//       }
//       .skills__express-logo {
//         height: 570px;
//       }
//       .skills__mongodb-logo {
//         height: 400px;
//         margin-bottom: 40px;
//       }
//     }
//   }
// }
