// navbar

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(251, 255, 255, 0.055);
  transition: all ease 0.5s;
}

.navbar__logo {
  font-size: 2.5rem;
  margin-left: 70px;
  color: #5cdb95;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.navbar__logo--blue {
  color: #05386b;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}
.navbar__link {
  text-transform: capitalize;
  position: relative;
  font-size: 1.3rem;
  margin: 0 20px;
  color: #05386b;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #05386b;
    opacity: 1;
    transform-origin: center;
    transform: scale(0);
    transition: ease all 0.5s;
  }

  &:hover::after {
    transform: scale(1);
  }
}

.navbar__link--active {
  position: relative;
  font-size: 1.3rem;
  margin: 0 20px;
  color: #05386b;
  text-transform: capitalize;
  border: 1px solid #05386b;
  border-radius: 5px;
  padding: 10px 20px;

  &:hover {
    color: #5cdb95;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background: #05386b;
    top: 0;
    right: 0;
    transition: ease 0.3s;
    z-index: -1000;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    background: #05386b;
  }
}

.navbar__burger {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #5cdb95;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 10px;
  }
  span:nth-child(2) {
    top: 25px;
  }
  span:nth-child(3) {
    top: 40px;
  }
}

.navbar__burger--open {
  display: none;

  span:nth-child(1) {
    background-color: #05386b;
    top: 25px;
    transform: rotate(135deg);
  }
  span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  span:nth-child(3) {
    background-color: #05386b;
    top: 25px;
    transform: rotate(-135deg);
  }
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.navbar__links--small {
  flex-flow: column;
  text-align: center;
  z-index: 100;
  width: 100%;
  height: max-content;
  padding-top: 10vh;
  position: fixed;
  right: 0;
  top: 0;
  background: #5cdb95;
  display: none;
}

.navbar__link--small {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  color: #05386b;
  border: 2px solid #05386b;
  border-radius: 15px;
}

.navbar__links--small--close {
  display: flex;
  animation: rotateMenu 400ms ease-in-out normal;
  transform-origin: top right;
}

@media screen and (max-width: 1600px) {
  .navbar__link:nth-child(-n + 3) {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar__link {
    color: #5cdb95;

    &::after {
      background-color: #5cdb95;
    }
  }

  .navbar__link--active {
    color: #5cdb95;
    border: 1px solid #5cdb95;

    &:hover {
      color: #05386b;
    }

    &::after {
      background: #5cdb95;
    }
    &:hover::after {
      background: #5cdb95;
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar__logo {
    margin-left: 30px;
  }
  .navbar__list {
    .navbar__link {
      color: #ccf381;
      display: none;
    }
    .navbar__link--active {
      color: #ccf381;
      border: 1px solid #ccf381;
      display: none;
    }
    .navbar__burger {
      display: block;
    }
    .navbar__burger--open {
      display: block;
    }
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    justify-content: flex-end;
  }
  .navbar__logo {
    display: none;
  }
}
