// projects

.projects {
  background: #edf5e1;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 0 60px 0;
  position: relative;

  h1 {
    font-size: 5rem;
    color: #05386b;
  }
}

.projects__back-l {
  position: absolute;
  left: 0;
  bottom: 0;
}

.projects__back-r {
  position: absolute;
  right: 0;
  bottom: 0;
}

.projects__project-1 {
  overflow: hidden;
  min-width: 1400px;
  margin: 30px 0 20px 0;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 10px 0 0 0;
}

.projects__project-2 {
  overflow: hidden;
  margin: 0 0 50px 0;
  min-width: 1400px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 30px 0 0 0;
}

.projects__project-cont-1 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1300px;
}

.projects__project-cont-2 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1300px;
}

.projects__project-img {
  padding: 20px 0 25px 0;
  width: max-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
}

.projects__img-1 {
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.project__img-res-1 {
  margin: 0 30px;
  display: none;
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transform: translate(-60px, 0);
  opacity: 0;
  transition: all ease 0.5s;
}

.projects__img-2 {
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.project__img-res-2 {
  margin: 0 30px;
  display: none;
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transform: translate(60px, 0);
  opacity: 0;
  transition: all ease 0.5s;
}

.projects__img--after {
  font-size: 20px;
  color: #05386bc5;
  margin-top: 10px;
}

.projects__img-1:hover {
  opacity: 0.75;
}

.projects__img-2:hover {
  opacity: 0.75;
}

.projects__project-desc-1 {
  max-height: 600px;
  opacity: 0;
  display: none;
  flex-flow: column wrap;
  padding: 30px 30px 0 30px;
  align-items: center;
  transform: translate(-60px, 0);
  transition: all ease 1s;
  color: #05386b;

  h2 {
    align-self: flex-start;
    font-size: 4rem;
    color: #05386b;
  }

  h3 {
    align-self: flex-start;
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
    align-self: flex-start;
    margin: 5px 0 20px 0;
  }
  p {
    font-size: 1.5rem;
  }
  .projects__links {
    margin: 30px 0 0 10px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
  }

  a {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    padding: 10px 15px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }

    span {
      font-size: 30px;
    }
    .projects__logo {
      height: 40px;
      margin-right: 5px;
    }
  }

  .show-less {
    font-size: 20px;
    margin-top: 60px;
    min-width: 500px;
    padding: 10px 15px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }
  }
}

.projects__project-desc-2 {
  max-height: 600px;
  display: none;
  opacity: 0;
  flex-flow: column wrap;
  padding: 30px 30px 0 30px;
  align-items: center;
  transform: translate(60px, 0);
  transition: all ease 1s;
  color: #05386b;

  h2 {
    align-self: flex-start;
    font-size: 4rem;
    color: #05386b;
  }

  h3 {
    align-self: flex-start;
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
    align-self: flex-start;
    margin: 5px 0 20px 0;
  }
  p {
    font-size: 1.5rem;
  }
  .projects__links {
    margin: 30px 0 0 10px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
  }

  a {
    margin: 0 30px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }

    span {
      font-size: 30px;
    }
    .projects__logo {
      height: 40px;
      margin-right: 5px;
    }
  }

  .show-less {
    font-size: 20px;
    margin-top: 60px;
    min-width: 500px;
    padding: 10px 15px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }
  }
}

@keyframes img-click-for {
  from {
    opacity: 0.75;
    transform: translateX(0);
  }
  to {
    transform: translateX(2000px);
  }
}

@keyframes img-unclick-for {
  from {
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes img-click-back {
  from {
    opacity: 0.75;
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000px);
  }
}

@keyframes img-unclick-back {
  from {
    transform: translateX(2000px);
  }
  to {
    transform: translateX(0) px;
  }
}

.projects__img--click-back {
  animation: img-click-back 1s forwards;
  cursor: default;
}

.projects__img--unclick-back {
  animation: img-unclick-back 1s forwards;
  cursor: pointer;
}

.projects__img--click-for {
  animation: img-click-for 1s forwards;
  cursor: default;
}

.projects__img--unclick-for {
  animation: img-unclick-for 1s forwards;
  cursor: pointer;
}
