// projects

.projects {
  background: #edf5e1;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 0 60px 0;
  position: relative;

  h1 {
    font-size: 5rem;
    color: #05386b;
  }
}

.projects__back-l {
  position: absolute;
  left: 0;
  bottom: 0;
}

.projects__back-r {
  position: absolute;
  right: 0;
  bottom: 0;
}

.projects__project-1 {
  overflow: hidden;
  min-width: 1400px;
  margin: 30px 0 20px 0;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 10px 0 0 0;
}

.projects__project-2 {
  overflow: hidden;
  margin: 0 0 50px 0;
  min-width: 1400px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 30px 0 0 0;
}

.projects__project-cont-1 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1300px;
}

.projects__project-cont-2 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1300px;
}

.projects__project-img {
  padding: 20px 0 25px 0;
  width: max-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
}

.projects__img-1 {
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.project__img-res-1 {
  margin: 0 30px;
  display: none;
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transform: translate(-60px, 0);
  opacity: 0;
  transition: all ease 0.5s;
}

.projects__img-2 {
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.project__img-res-2 {
  margin: 0 30px;
  display: none;
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  transform: translate(60px, 0);
  opacity: 0;
  transition: all ease 0.5s;
}

.projects__img--after {
  font-size: 20px;
  color: #05386bc5;
  margin-top: 10px;
}

.projects__img-1:hover {
  opacity: 0.75;
}

.projects__img-2:hover {
  opacity: 0.75;
}

.projects__project-desc-1 {
  max-height: 600px;
  opacity: 0;
  display: none;
  flex-flow: column wrap;
  padding: 30px 30px 0 30px;
  align-items: center;
  transform: translate(-60px, 0);
  transition: all ease 1s;
  color: #05386b;

  h2 {
    align-self: flex-start;
    font-size: 4rem;
    color: #05386b;
  }

  h3 {
    align-self: flex-start;
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
    align-self: flex-start;
    margin: 5px 0 20px 0;
  }
  p {
    font-size: 1.5rem;
  }
  .projects__links {
    margin: 30px 0 0 10px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    padding: 10px 30px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }

    span {
      font-size: 30px;
    }
    .projects__logo {
      height: 40px;
      margin-right: 5px;
    }
  }

  .show-less {
    font-size: 20px;
    margin-top: 60px;
    padding: 10px 300px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }
  }
}

.projects__project-desc-2 {
  max-height: 600px;
  display: none;
  opacity: 0;
  flex-flow: column wrap;
  padding: 30px 30px 0 30px;
  align-items: center;
  transform: translate(60px, 0);
  transition: all ease 1s;
  color: #05386b;

  h2 {
    align-self: flex-start;
    font-size: 4rem;
    color: #05386b;
  }

  h3 {
    align-self: flex-start;
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
    align-self: flex-start;
    margin: 5px 0 20px 0;
  }
  p {
    font-size: 1.5rem;
  }
  .projects__links {
    margin: 30px 0 0 10px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
  }

  a {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }

    span {
      font-size: 30px;
    }
    .projects__logo {
      height: 40px;
      margin-right: 5px;
    }
  }

  .show-less {
    font-size: 20px;
    margin-top: 60px;
    padding: 10px 300px;
    border: 2px solid #05386b;
    border-radius: 5px;
    transition: all ease 0.5s;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #05386b;
      color: #edf5e1;
    }
  }
}

@keyframes img-click-for {
  from {
    opacity: 0.75;
    transform: translateX(0);
  }
  to {
    transform: translateX(2000px);
  }
}

@keyframes img-unclick-for {
  from {
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes img-click-back {
  from {
    opacity: 0.75;
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000px);
  }
}

@keyframes img-unclick-back {
  from {
    transform: translateX(2000px);
  }
  to {
    transform: translateX(0) px;
  }
}

.projects__img--click-back {
  animation: img-click-back 1s forwards;
  cursor: default;
}

.projects__img--unclick-back {
  animation: img-unclick-back 1s forwards;
  cursor: pointer;
}

.projects__img--click-for {
  animation: img-click-for 1s forwards;
  cursor: default;
}

.projects__img--unclick-for {
  animation: img-unclick-for 1s forwards;
  cursor: pointer;
}

.projects-mobile {
  background: #edf5e1;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 0 60px 0;
  position: relative;

  h1 {
    font-size: 4rem;
    color: #05386b;
  }
}

.projects__project-1-mobile {
  max-width: 700px;
  margin: 30px 0 60px 0;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 10px 0 0 0;
  h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #05386b;
  }
}

.projects__project-2-mobile {
  margin: 0 0 50px 0;
  max-width: 700px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 10px 0 0 0;
  h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #05386b;
  }
}

.projects__img-1-mobile {
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 350px;
  border-radius: 15px;
  margin: 15px 0;
}

.projects__img-2-mobile {
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
  height: 350px;
  border-radius: 15px;
  margin: 30px 0;
}

.projects__project-desc-mobile {
  padding-left: 20px;
  max-height: 600px;
  display: flex;
  flex-flow: column wrap;
  color: #05386b;

  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 1.3rem;
    margin: 5px 0 20px 0;
  }
  p {
    font-size: 1.3rem;
  }
  .projects__links-mobile {
    align-self: center;
    margin: 30px 0 0 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
  }

  a {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 85px;
    border: 2px solid #05386b;
    border-radius: 10px;

    span {
      font-size: 25px;
    }
    .projects__logo {
      height: 40px;
      margin-right: 5px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projects-mobile {
    display: none;
  }
}

@media screen and (max-width: 1900px) {
  .projects__back-l {
    left: -80px;
  }
  .projects__back-r {
    right: -80px;
  }
}

@media screen and (max-width: 1750px) {
  .projects__project-1,
  .projects__project-2 {
    min-width: 1150px;
  }
  .projects__project-cont-1,
  .projects__project-cont-2 {
    max-width: 1000px;
  }
  .projects__img-1,
  .projects__img-2 {
    height: 490px;
  }
  .project__img-res-1,
  .project__img-res-2 {
    height: 490px;
  }
  .projects__project-desc-1 {
    h2 {
      font-size: 3.3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.3rem;
    }
    a {
      span {
        font-size: 25px;
      }
    }
    .show-less {
      margin-top: 30px;
    }
  }

  .projects__project-desc-2 {
    h2 {
      font-size: 3.3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.3rem;
    }
    a {
      span {
        font-size: 25px;
      }
    }
    .show-less {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 1415px) {
  .projects__project-1,
  .projects__project-2 {
    min-width: 1050px;
  }
  .projects__project-cont-1,
  .projects__project-cont-2 {
    max-width: 900px;
  }
  .projects__img-1,
  .projects__img-2 {
    height: 440px;
  }
  .project__img-res-1,
  .project__img-res-2 {
    height: 440px;
  }
  .projects__project-desc-1 {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.1rem;
    }
    a {
      padding: 6px 30px;
      span {
        font-size: 22px;
      }
    }
    .show-less {
      margin-top: 25px;
      padding: 10px 170px;
    }
  }

  .projects__project-desc-2 {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.1rem;
    }
    a {
      padding: 6px 30px;
      span {
        font-size: 22px;
      }
    }
    .show-less {
      margin-top: 25px;
      padding: 10px 170px;
    }
  }
}

@media screen and (max-width: 1215px) {
  .projects__project-1,
  .projects__project-2 {
    min-width: 950px;
  }
  .projects__project-cont-1,
  .projects__project-cont-2 {
    max-width: 800px;
  }
  .projects__img-1,
  .projects__img-2 {
    height: 390px;
  }
  .project__img-res-1,
  .project__img-res-2 {
    height: 390px;
  }
  .projects__project-desc-1 {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.1rem;
    }
    a {
      padding: 7px 30px;
      span {
        font-size: 16px;
      }
      .projects__logo {
        height: 30px;
      }
    }
    .show-less {
      margin-top: 20px;
      padding: 7px 170px;
      font-size: 15px;
    }
  }

  .projects__project-desc-2 {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.1rem;
    }
    a {
      padding: 7px 30px;
      span {
        font-size: 16px;
      }
      .projects__logo {
        height: 30px;
      }
    }
    .show-less {
      margin-top: 20px;
      padding: 7px 170px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .projects__back-l,
  .projects__back-r {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .projects-mobile {
    h1 {
      font-size: 3.5rem;
    }
  }

  .projects__project-1-mobile {
    max-width: 500px;
    h2 {
      font-size: 3rem;
    }
  }

  .projects__project-2-mobile {
    max-width: 500px;
    h2 {
      font-size: 3rem;
    }
  }

  .projects__img-1-mobile {
    height: 250px;
  }

  .projects__img-2-mobile {
    height: 250px;
  }

  .projects__project-desc-mobile {
    max-height: 400px;

    h3 {
      font-size: 2.2rem;
    }
    h4 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      padding: 8px 45px;
      span {
        font-size: 20px;
      }
      .projects__logo {
        height: 25px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .projects-mobile {
    h1 {
      font-size: 2.5rem;
    }
  }

  .projects__project-1-mobile {
    max-width: 380px;
    h2 {
      font-size: 2rem;
    }
  }

  .projects__project-2-mobile {
    max-width: 380px;
    h2 {
      font-size: 2rem;
    }
  }

  .projects__img-1-mobile {
    height: 180px;
  }

  .projects__img-2-mobile {
    height: 180px;
  }

  .projects__project-desc-mobile {
    max-height: 400px;
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 0.9rem;
    }
    p {
      font-size: 0.9rem;
    }
    .projects__links-mobile {
      flex-flow: column;
    }
    a {
      padding: 6px 55px;
      span {
        font-size: 17px;
      }
      .projects__logo {
        height: 22px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .projects-mobile {
    h1 {
      font-size: 2.3rem;
    }
  }

  .projects__project-1-mobile {
    max-width: 300px;
    h2 {
      font-size: 2rem;
    }
  }

  .projects__project-2-mobile {
    max-width: 300px;
    h2 {
      font-size: 2rem;
    }
  }

  .projects__img-1-mobile {
    height: 150px;
  }

  .projects__img-2-mobile {
    height: 150px;
  }

  .projects__project-desc-mobile {
    max-height: 400px;
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.8rem;
    }
    .projects__links-mobile {
      flex-flow: column;
    }
    a {
      padding: 6px 45px;
      span {
        font-size: 15px;
      }
      .projects__logo {
        height: 20px;
      }
    }
  }
}
