// technologies

.skills {
  background: #edf5e1;
  padding: 60px 0 70px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #05386b;
  }

  h2 {
    font-size: 2.5rem;
    color: #05386b;
    margin: 40px 0 0 0;
  }
}

.skills__technologies {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  justify-items: center;
  align-items: center;

  .skills__skill {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    img {
      height: 120px;
      transform: scale(1);
      opacity: 1;
      transition: all ease 0.5s;

      &:hover {
        transform: scale(0.85);
        opacity: 0.9;
      }
    }
    .skills__jq-logo {
      height: 70px;
    }
    .skills__text {
      margin: 10px 0 0 0;
      font-size: 1.2rem;
      font-weight: bolder;
      color: rgba(0, 12, 107, 0.795);
      opacity: 0;
      transition: all ease 0.5s;
    }
  }
}

.skills__other-technologies {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  .skills__skill {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    img {
      height: 120px;
      transform: scale(1);
      opacity: 1;
      transition: all ease 0.5s;

      &:hover {
        transform: scale(0.85);
        opacity: 0.9;
      }
    }

    .skills__express-logo {
      height: 55px;
    }

    .skills__mongodb-logo {
      height: 180px;
    }
    .skills__text {
      margin: 10px 0 0 0;
      font-size: 1.2rem;
      font-weight: bolder;
      color: rgba(0, 12, 107, 0.795);
      opacity: 0;
      transition: all ease 0.5s;
    }
  }
}

// this is not nested as it doesnt seem to work inside

.skills__skill:hover .skills__text {
  opacity: 1;
}

// .

@media screen and (max-width: 1200px) {
  .skills__technologies {
    grid-template-columns: repeat(3, 1fr);
    width: 950px;
  }
  .skills__other-technologies {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;

    .skills__skill {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .skills__technologies {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
  }
  .skills {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .skills__technologies {
    grid-template-columns: repeat(1, 1fr);
    width: 320px;
    .skills__skill {
      img {
        height: 100px;
      }
      .skills__jq-logo {
        height: 50px;
      }
    }
  }
  .skills__other-technologies {
    grid-template-columns: repeat(1, 1fr);
    width: 320px;
    .skills__skill {
      img {
        height: 100px;
      }
      .skills__express-logo {
        height: 45px;
      }
      .skills__mongodb-logo {
        height: 130px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .skills {
    h1 {
      font-size: 2rem;
    }
    h2 {
      margin-bottom: 30px;
    }
  }
}
