@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@import "./navbar";

@import "./home";

@import "./projects";

@import "./about";

@import "./skills";

@import "./media";
