@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(251, 255, 255, 0.055);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.navbar__logo {
  font-size: 2.5rem;
  margin-left: 70px;
  color: #5cdb95;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar__logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.navbar__logo--blue {
  color: #05386b;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.navbar__link {
  text-transform: capitalize;
  position: relative;
  font-size: 1.3rem;
  margin: 0 20px;
  color: #05386b;
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #05386b;
  opacity: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.navbar__link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar__link--active {
  position: relative;
  font-size: 1.3rem;
  margin: 0 20px;
  color: #05386b;
  text-transform: capitalize;
  border: 1px solid #05386b;
  border-radius: 5px;
  padding: 10px 20px;
}

.navbar__link--active:hover {
  color: #5cdb95;
}

.navbar__link--active::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #05386b;
  top: 0;
  right: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  z-index: -1000;
}

.navbar__link--active:hover::after {
  width: 100%;
  left: 0;
  background: #05386b;
}

.navbar__burger {
  display: none;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar__burger span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #5cdb95;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar__burger span:nth-child(1) {
  top: 25px;
}

.navbar__burger span:nth-child(2) {
  top: 45px;
}

.navbar__burger span:nth-child(3) {
  top: 65px;
}

.navbar__burger--open {
  display: none;
}

.navbar__burger--open span:nth-child(1) {
  background-color: #05386b;
  top: 40px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar__burger--open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.navbar__burger--open span:nth-child(3) {
  background-color: #05386b;
  top: 40px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@-webkit-keyframes rotateMenu {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  70% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rotateMenu {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  70% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.navbar__links--small {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  z-index: 100;
  width: 100%;
  height: 150vh;
  padding-top: 28vh;
  position: fixed;
  right: 0;
  top: 0;
  background: #5cdb95;
  display: none;
}

.navbar__link--small {
  font-size: 4rem;
  text-transform: capitalize;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
  color: #05386b;
  border: 2px solid #05386b;
  border-radius: 15px;
}

.navbar__links--small--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotateMenu 400ms ease-in-out normal;
          animation: rotateMenu 400ms ease-in-out normal;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.home {
  background: linear-gradient(55deg, #05386b 72%, #5cdb95 28%);
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home__parallax {
  width: 99%;
  height: 100%;
  position: absolute;
  bottom: 80px;
  top: 4vh;
  pointer-events: none;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.home__intro {
  margin: 0 0 0 250px;
  color: #edf5e1;
  width: 800px;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.home__intro .home__hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5px 0;
}

.home__intro .home__hello h3 {
  font-size: 2rem;
}

.home__intro .home__hello h6 {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.home__intro h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #5cdb95;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.home__intro h1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #cff881a4;
  right: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.home__intro h1:hover::after {
  width: 100%;
  left: 0;
  background: #cbf38144;
}

.home__intro h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.home__intro span {
  font-size: 1.5rem;
}

.home__image {
  margin: 40px 0 0 250px;
  border-radius: 20px;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  border: 1px dashed rgba(26, 26, 26, 0.534);
}

.home__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 350px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.home__me:hover {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.projects {
  background: #edf5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 0 0;
}

.projects h1 {
  font-size: 5rem;
  color: #05386b;
}

.projects__project-1 {
  overflow: hidden;
  min-width: 1400px;
  margin: 30px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 10px 0 0 0;
}

.projects__project-1 h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4rem;
  color: #05386b;
}

.projects__project-2 {
  overflow: hidden;
  margin: 0 0 50px 0;
  min-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #edf5e1;
  border-radius: 15px;
  padding: 30px 0 0 0;
}

.projects__project-2 h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4rem;
  color: #05386b;
}

.projects__project-cont-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1300px;
}

.projects__project-cont-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.projects__project-img {
  padding: 20px 0 25px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.projects__img-1 {
  -webkit-box-shadow: 1px 1px 10px #cfcfcf;
          box-shadow: 1px 1px 10px #cfcfcf;
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.project__img-res-1 {
  margin: 0 30px;
  display: none;
  -webkit-box-shadow: 1px 1px 10px #cfcfcf;
          box-shadow: 1px 1px 10px #cfcfcf;
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.projects__img-2 {
  -webkit-box-shadow: 1px 1px 10px #cfcfcf;
          box-shadow: 1px 1px 10px #cfcfcf;
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.project__img-res-2 {
  margin: 0 30px;
  display: none;
  -webkit-box-shadow: 1px 1px 10px #cfcfcf;
          box-shadow: 1px 1px 10px #cfcfcf;
  height: 600px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transform: translate(60px, 0);
          transform: translate(60px, 0);
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.projects__img--after {
  font-size: 20px;
  color: #05386bc5;
  margin-top: 10px;
}

.projects__img-1:hover {
  opacity: 0.75;
}

.projects__img-2:hover {
  opacity: 0.75;
}

.projects__project-desc-1 {
  max-height: 600px;
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 30px 30px 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  color: #05386b;
}

.projects__project-desc-1 h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3rem;
}

.projects__project-desc-1 h4 {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5px 0 20px 0;
}

.projects__project-desc-1 p {
  font-size: 1.5rem;
}

.projects__project-desc-1 .projects__links {
  margin: 30px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  text-align: center;
}

.projects__project-desc-1 a {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px;
  padding: 10px 15px;
  border: 2px solid #05386b;
  border-radius: 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.projects__project-desc-1 a:hover {
  background: #05386b;
  color: #edf5e1;
}

.projects__project-desc-1 a span {
  font-size: 30px;
}

.projects__project-desc-1 a .projects__logo {
  height: 40px;
  margin-right: 5px;
}

.projects__project-desc-1 .show-less {
  font-size: 20px;
  margin-top: 60px;
  min-width: 500px;
  padding: 10px 15px;
  border: 2px solid #05386b;
  border-radius: 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-align: center;
  cursor: pointer;
}

.projects__project-desc-1 .show-less:hover {
  background: #05386b;
  color: #edf5e1;
}

.projects__project-desc-2 {
  max-height: 600px;
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 30px 30px 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(60px, 0);
          transform: translate(60px, 0);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  color: #05386b;
}

.projects__project-desc-2 h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3rem;
}

.projects__project-desc-2 h4 {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5px 0 20px 0;
}

.projects__project-desc-2 p {
  font-size: 1.5rem;
}

.projects__project-desc-2 .projects__links {
  margin: 30px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  text-align: center;
}

.projects__project-desc-2 a {
  margin: 0 30px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  border: 2px solid #05386b;
  border-radius: 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.projects__project-desc-2 a:hover {
  background: #05386b;
  color: #edf5e1;
}

.projects__project-desc-2 a span {
  font-size: 30px;
}

.projects__project-desc-2 a .projects__logo {
  height: 40px;
  margin-right: 5px;
}

.projects__project-desc-2 .show-less {
  font-size: 20px;
  margin-top: 60px;
  min-width: 500px;
  padding: 10px 15px;
  border: 2px solid #05386b;
  border-radius: 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-align: center;
  cursor: pointer;
}

.projects__project-desc-2 .show-less:hover {
  background: #05386b;
  color: #edf5e1;
}

@-webkit-keyframes img-click-for {
  from {
    opacity: 0.75;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@keyframes img-click-for {
  from {
    opacity: 0.75;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@-webkit-keyframes img-unclick-for {
  from {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes img-unclick-for {
  from {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes img-click-back {
  from {
    opacity: 0.75;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
}

@keyframes img-click-back {
  from {
    opacity: 0.75;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
}

@-webkit-keyframes img-unclick-back {
  from {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  to {
    -webkit-transform: translateX(0) px;
            transform: translateX(0) px;
  }
}

@keyframes img-unclick-back {
  from {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  to {
    -webkit-transform: translateX(0) px;
            transform: translateX(0) px;
  }
}

.projects__img--click-back {
  -webkit-animation: img-click-back 1s forwards;
          animation: img-click-back 1s forwards;
  cursor: default;
}

.projects__img--unclick-back {
  -webkit-animation: img-unclick-back 1s forwards;
          animation: img-unclick-back 1s forwards;
  cursor: pointer;
}

.projects__img--click-for {
  -webkit-animation: img-click-for 1s forwards;
          animation: img-click-for 1s forwards;
  cursor: default;
}

.projects__img--unclick-for {
  -webkit-animation: img-unclick-for 1s forwards;
          animation: img-unclick-for 1s forwards;
  cursor: pointer;
}

.skill-project {
  height: 20vh;
  background: linear-gradient(4deg, #05386b 50%, #edf5e1 50.3%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-project h1 {
  color: #5cdb95;
  font-size: 5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 200px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about {
  height: 80vh;
  background: #05386b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px;
}

.about p {
  color: #5cdb95;
  font-size: 2rem;
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.skills {
  background: #edf5e1;
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills h1 {
  font-size: 3.5rem;
  margin-bottom: 50px;
  color: #05386b;
}

.skills h2 {
  font-size: 3.5rem;
  color: #05386b;
  margin: 40px 0 0 0;
}

.skills__technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__technologies .skills__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.skills__technologies .skills__skill img {
  height: 120px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.skills__technologies .skills__skill img:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0.9;
}

.skills__technologies .skills__skill .skills__jq-logo {
  height: 70px;
}

.skills__technologies .skills__skill .skills__text {
  margin: 10px 0 0 0;
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgba(0, 12, 107, 0.795);
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.skills__other-technologies {
  margin: 30px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__other-technologies .skills__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__other-technologies .skills__skill img {
  height: 120px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.skills__other-technologies .skills__skill img:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0.9;
}

.skills__other-technologies .skills__skill .skills__express-logo {
  height: 230px;
}

.skills__other-technologies .skills__skill .skills__mongodb-logo {
  height: 180px;
}

.skills__other-technologies .skills__skill .skills__text {
  margin: 10px 0 0 0;
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgba(0, 12, 107, 0.795);
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.skills__skill:hover .skills__text {
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */